* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: #d4e9e2;
    color: #1e3932;
    /* margin: 0 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    line-height: 1.8rem;
    /* height: 100vh; */
}

h3 {
    /* display: flex;
    flex-direction: row; */
    /* justify-content: center; */
}

ul {
    list-style-type: square;
}

#container {
    margin: 30px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "content description";
    column-gap: 20px;

    /* display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start; */
    
    min-height: 45vh;
    /* margin-bottom: 40vh; */
}

span {
    font-size: 0.9rem;
}

.output {
    background-color: #1e3932;
    color: #f1f8f6;
    font-size: 1rem;
    word-wrap: anywhere;
    width: 100%;
    min-height: 40px;
    border-radius: 5px;
    padding: 8px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1rem;
}

.content {
    background: rgba(182, 182, 182, 0.247);
    border-radius: 15px;
    padding: 8px;
    grid-area: content;
}

.description {
    font-size: 1.1rem;
    padding-left: 25px;
    padding: 0 25px;
    background: rgba(182, 182, 182, 0.247);
    border-radius: 15px;
    grid-area: description;
}

#footer {
    color: #008248;
    /* color: #f1f8f6; */
    /* min-height: 60px; */
    /* text-align: center; */
    /* width: 100%; */
}

@media (max-width: 500px) {
    #container{
        display: grid;
        grid-template-columns: 50vw;
        row-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "description"
            "content";
    }
}